@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

:root {
  --text-primary: #fff;
  --dark: #333;
  --gray: #e5e5e5;
  --background: linear-gradient(#737373, #323232);
  --color1: #ffa801;
  --color2: #f53b57;
  --color3: #3c40c6;
  --color4: #05c46b;
  --color5: #0fbcf9;

  --transition-menu: background-color 1s cubic-bezier(0.68, -0.55, 0.27, 1.55), transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--color1);
  transition: var(--transition-menu);
  padding: 0 16px;
}

a, a:active, a:link, a:visited {
  text-decoration: none;
  color: var(--text-primary);
}

#aboutMy {
  background-color: transparent;
}

/*
  NAVBAR
*/

.menu-nav {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: transparent;
  z-index: 200;
}

.menu-nav .menu-nav--content {
  display: flex;
  justify-content: center;
  width: 350px;
}

.menu-nav ul {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  /* width: 350px; */
  width: 100%;
  height: 50px;
  background-color: var(--dark);
  border-radius: 50px 50px 0 0;
  box-shadow: 0px -5px 12px 10px #0000002b;
  padding-left: 12px;
  z-index: 200;
}

.menu-nav ul::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  left: -62px;
  background-color: transparent;
  border-bottom-right-radius: 50px;
  box-shadow: 10px 45px 0 7.5px var(--dark);
}

.menu-nav ul::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  right: -62px;
  background-color: transparent;
  border-bottom-left-radius: 50px;
  box-shadow: -10px 45px 0 7.5px var(--dark);
  z-index: -1;
}

.menu-nav ul li {
  position: relative;
  list-style: none;
  width: 65px;
  height: 65px;
  z-index: 201;
  font-weight: 300;
}

.menu-nav ul a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--text-primary);
  font-size: 8px;
}

.active {
  border-radius: 50px;
  font-weight: 500 !important;
}

.menu-nav .indicator {
  position: absolute;
  width: 65px;
  height: 65px;
  box-shadow: 0px -5px 12px 10px #00000009;
  border-radius: 50px;
  transition: var(--transition-menu);
}

.menu-nav ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(65px * 0));
  background-color: var(--color1);
}

.menu-nav ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(65px * 1));
  background-color: var(--color2);
}

.menu-nav ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(65px * 2));
  background-color: var(--color3);
}

.menu-nav ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(65px * 3));
  background-color: var(--color4);
}

.menu-nav ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(65px * 4));
  background-color: var(--color5);
}

/*
  button contact-me
*/

.contact-me {
  position: absolute;
  padding: 0.9em 2em;
  border-radius: 2em 2em 50% 50%;
  box-shadow: 2px 2px 8px #333;
  background-color: var(--color5);
  /* bottom: 70px; */
  z-index: 199;
  top: calc(100vh - 125px);
}

/*
  section
*/
section {
  margin: 16px;
  width: 100%;
  max-width: 800px;
  border-radius: 15px;
  z-index: -1;
  background-color: #ffffff23;
}

/*
home
*/
.home {
  width: 100%;
  height: calc(100vh - 55px);
  background: linear-gradient(#5674b0, #26c9f7);
  overflow: hidden;
  position: relative;
  box-shadow: 0px 2px 1px 1px #333;
  border: #ffffff8a 1px solid;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.home-container .stars {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.home-container .stars span {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 
  0 0 10px #05c46b,
  0 0 20px 4px #05c46b,
  0 0 30px #05c46b,
  0 0 50px #05c46b;
  filter: blur(2px);
}
.home-container .stars span .blue {
  box-shadow: 
  0 0 10px #0fbcf9,
  0 0 20px 4px #0fbcf9,
  0 0 30px #0fbcf9,
  0 0 50px #0fbcf9;
}

@keyframes stars-animation {
  0% {
    transform: translateY(100vh) scale(0.001);
  }
  60% {
    transform: translateY(36vh) scale(1);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}

.home .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.home .perfil {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
}

.home .card .perfil img {
  width: 100%;
}

.home .card .title {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.home .card .title p,
.home .card .title h1,
.home .card .title h3 {
  color: var(--text-primary);
  font-size: 1.2em;
  font-weight: 400;
  width: 245px;
  text-align: start;
  margin-top: 10px;
}

.home .card .title h1 {
  color: #1b556e;
  font-size: 1em;
}

.home .card .title h3 {
  font-size: 0.9em;
  font-weight: 300;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  word-wrap: break-word;
}

/*
  Media queries
*/
@media (min-width: 375px) {
  /* NAVBAR */
  .menu-nav ul a {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  /* NAVBAR */
  .menu-nav ul a {
    font-size: 11px;
  }
}