@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

:root {
  --text-primary: #fff;
  --dark: #333;
  --gray: #e5e5e5;
  --color1: #ffa801;
  --color2: #f53b57;
  --color3: #3c40c6;
  --color4: #05c46b;
  --color5: #0fbcf9;

  --background: linear-gradient(#737373, #333);
  --background: #333;

  --transition-menu: background-color 1s cubic-bezier(0.68, -0.55, 0.27, 1.55), transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  --transition-bg: background-color 4.5s cubic-bezier(0.4, 0, 0.2, 1)
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  /* display: flex; */
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: var(--background);
  transition: var(--transition-bg);
  padding: 0 16px;
  scroll-behavior: smooth;
}

a, a:active, a:link, a:visited {
  text-decoration: none;
  color: var(--text-primary);
}

button {
  outline: none;
}

#aboutMy {
  background-color: transparent;
}

/*
  FOOTER
*/
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 85px;
}

footer a img {
  width: 24px;
  margin-left: 20px;
  margin-right: 20px;
}

footer a p {
  color: var(--gray);
}

/*
  NAVBAR
*/

.menu-nav {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: transparent;
  z-index: 200;
}

.menu-nav .menu-nav--content {
  display: flex;
  justify-content: center;
  width: 350px;
}

.menu-nav ul {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50px;
  background-color: var(--dark);
  border-radius: 50px 50px 0 0;
  box-shadow: 0px -5px 12px 10px #0000002b;
  padding-left: 12px;
  z-index: 200;
}

.menu-nav ul::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  left: -62px;
  background-color: transparent;
  border-bottom-right-radius: 50px;
  box-shadow: 10px 45px 0 7.5px var(--dark);
}

.menu-nav ul::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  right: -62px;
  background-color: transparent;
  border-bottom-left-radius: 50px;
  box-shadow: -10px 45px 0 7.5px var(--dark);
  z-index: -1;
}

.menu-nav ul li {
  position: relative;
  list-style: none;
  width: 65px;
  height: 65px;
  z-index: 201;
  font-weight: 300;
}

.menu-nav ul button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--text-primary);
  font-size: 8px;
  
  background: transparent;
  border: none;
}

.active {
  border-radius: 50px;
  font-weight: 500 !important;
}

.menu-nav .indicator {
  position: absolute;
  width: 65px;
  height: 65px;
  box-shadow: 0px -5px 12px 10px #00000009;
  border-radius: 50px;
  transition: var(--transition-menu);
}

.menu-nav ul li:nth-child(1).active ~ .indicator {
  transform: translateX(calc(65px * 0));
  background-color: var(--color1);
}

.menu-nav ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(65px * 1));
  background-color: var(--color2);
}

.menu-nav ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(65px * 2));
  background-color: var(--color3);
}

.menu-nav ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(65px * 3));
  background-color: var(--color4);
}

.menu-nav ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(65px * 4));
  background-color: var(--color5);
}

/*
  button contact-me
*/

.contact-me {
  position: absolute;
  padding: 0.9em 2em;
  border-radius: 2em 2em 50% 50%;
  /* box-shadow: 2px 2px 8px #333; */
  box-shadow: inset -3px -4px 4px -4px #333, 4px 1px 4px -4px #333;
  background-color: var(--color5);
  /* bottom: 70px; */
  z-index: 199;
  top: calc(100vh - 125px);
  border: none;
  color: var(--text-primary);
  left: calc(50% - 138px/2);
}

.contact-me:active {
  box-shadow: inset 2px 2px 8px #333;
}

.contact-me-flying span {
  cursor: pointer;
  position: fixed;
  bottom: 92px;
  right: 17px;
  width: 60px;
  height: 60px;
  background: transparent;
  background-image: url(../img/bot01.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(4deg) translate(0px, 0px);
  animation: transform-contact-me-flying-span 5s linear infinite;
}

@keyframes transform-contact-me-flying-span {
  0%, 100% {
    transform: rotate(0deg) translate(0px, 0px);
    background-image: url(../img/bot01.png);
  }
  50% {
    transform: rotate(0deg) translate(0px, 3px);
    background-image: url(../img/bot01.png);
  }
  51% {
    transform: rotate(0deg) translate(0px, 3px);
    background-image: url(../img/bot02.png);
  }
  52% {
    background-image: url(../img/bot03.png);
  }
  55% {
    background-image: url(../img/bot02.png);
  }
  85% {
    transform: rotate(0deg) translate(0px, 3px);
    background-image: url(../img/bot02.png);
  }
}

.contact-me-flying span::before {
  content: '';
  position: absolute;
  width: calc(220px / 11);
  height: 32px;
  bottom: -28px;
  left: 21px;
  background-image: url(../img/fire_rocket_01.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation: transform-contact-me-flying-span-pseudo .5s linear infinite;
}

@keyframes transform-contact-me-flying-span-pseudo {
  0%, 100% {
    background-image: url(../img/fire_rocket_01.png);
  }
  20% {
    background-image: url(../img/fire_rocket_02.png);
  }
  40% {
    background-image: url(../img/fire_rocket_03.png);
  }
  60% {
    background-image: url(../img/fire_rocket_04.png);
  }
  80% {
    background-image: url(../img/fire_rocket_05.png);
  }
}

/*
  section
*/
section {
  margin: 16px auto;
  width: 100%;
  max-width: 800px;
  border-radius: 15px;
  /* z-index: -1; */
  background-color: #ffffff23;
  /* box-shadow: 0px 2px 1px 1px #333;
  border: #ffffff8a 1px solid; */
  box-shadow: inset -3px -4px 4px -4px #333, 7px 4px 4px -4px #333;
  padding: 10px;
}

/*
  home
*/
.home {
  width: 100%;
  height: calc(100vh - 55px);
  background: linear-gradient(#5674b0, #26c9f7);
  overflow: hidden;
  position: relative;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.home-container .stars {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.home-container .stars span {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 
  0 0 10px #05c46b,
  0 0 20px 4px #05c46b,
  0 0 30px #05c46b,
  0 0 50px #05c46b;
  filter: blur(2px);
}
.home-container .stars span .blue {
  box-shadow: 
  0 0 10px #0fbcf9,
  0 0 20px 4px #0fbcf9,
  0 0 30px #0fbcf9,
  0 0 50px #0fbcf9;
}

@keyframes stars-animation {
  0% {
    transform: translateY(100vh) scale(0.001);
  }
  60% {
    transform: translateY(36vh) scale(1);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}

.home .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.home .perfil {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 20px -4px #333, 0px 0px 0px 1px #fffdfd52;
}

.home .perfil::before {
  content: none;
}

.home .card .perfil img {
  width: 100%;
}

.home .card .title {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.home .card .title p,
.home .card .title h1,
.home .card .title h3 {
  color: var(--text-primary);
  font-size: 1.2em;
  font-weight: 400;
  width: 245px;
  text-align: start;
  margin-top: 10px;
}

.home .card .title h1 {
  color: var(--dark);
  font-size: 1em;
}

.home .card .title h3 {
  font-size: 0.9em;
  font-weight: 300;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  word-wrap: break-word;
}

/*
  About me
*/
.aboutme {
  display: grid;
  grid-template-columns: 100%;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.aboutme .aboutme-text {
  color: var(--text-primary);
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  word-wrap: break-word;
}

.aboutme .aboutme-text p {
  margin-top: 10px;
}

.aboutme .aboutme-text footer {
  margin-top: 15px;
  margin-bottom: 10px;
}

.aboutme .aboutme-text footer svg {
  stroke: var(--text-primary);
}

/*
Utils
*/

.perfil {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  color: var(--text-primary);
}

.perfil::before {
  content: '';
  margin: 10px auto 0 auto;
  width: 75px;
  height: 75px;
  border-radius: 25% 50%;
  /* background-color: #333; */
  background-color: rgba(255, 255, 255, 0.347);
  position: absolute;
  z-index: -1;
}

.perfil h2 {
  margin-left: 25px;
  margin-top: 20px;
  text-shadow: 1px 1px 3px #3333337d;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-auto-rows: 100px;
  gap: 15px;
  margin-top: 25px;
}

.card-container-row {
  grid-auto-rows: 150px;
}

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  background-color: var(--text-primary);
  color: var(--dark);
  border-radius: 15px;
  box-shadow: inset -3px -4px 4px -4px #333, 7px 4px 4px -4px #333;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  word-wrap: break-word;
}

.card-item-span {
  grid-column: span 2;
}

.card-item img {
  width: 24px;
}

.card-item span {
  color: var(--gray);
  font-size: 12px;
}

/*
  Skills
*/
.skills h3 {
  color: var(--text-primary);
  margin-left: 25px;
  margin-top: 20px;
  text-shadow: 1px 1px 3px #3333337d;
}

.skills .skills-soft .card-container {
  grid-template-columns: repeat(auto-fit, minmax(49%, 1fr));
}

/*
  Hobbies
*/

.hobbies .card-container {
  grid-template-columns: 1fr;
}

/*
  Academic
*/
.academic .card-container {
  grid-template-columns: 1fr;
  grid-auto-rows: 150px;
}

@keyframes aboutme_hello {
  0%,100% {
    transform: matrix(0.99062587,-0.12050811,0.15484757,0.99062587,-31.713784,52.000476);
  }
  50%{
    transform: initial;
  }
}

/*
  PROJECTS
*/
.projects-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-content > ul {
  width: 100%;
  margin-top: 25px;
  gap: 10px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  flex-wrap: wrap;
}

.projects-content > ul > li {
  max-width: 370px;
  width: 100%;
  background-color: var(--text-primary);
  color: var(--dark);
  border-radius: 15px;
  box-shadow: inset -3px -4px 4px -4px #333, 7px 4px 4px -4px #333;
  text-align: justify;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  word-wrap: break-word;

  padding: 30px 0;
}

.projects-content > ul > li > header,
.projects-content > ul > li > main,
.projects-content > ul > li > footer {
  width: 100%;
  margin-top: 10px;
  padding: 0 30px;
}

.projects-content > ul > li header h3 {
  font-weight: 600;
  text-transform: capitalize;
}

.projects-content > ul > li main {
  padding-bottom: 30px;
  height: 200px;
}

.projects-content > ul > li main span {
  font-weight: bold;
}

.projects-content > ul > li footer {
  padding-top: 30px;
  margin-bottom: 0;
  border-top: 1px solid var(--gray);
}

.projects-content > ul > li footer ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
}

.projects-content > ul > li footer ul li {
  border-radius: 15px;
  background: #ffb424b5;
  padding: 5px 15px;
}

.projects-content > ul > li footer ul li > a {
  color: var(--dark);
}

/*
  contactMeForm
*/
.contactMeForm {
  margin: 32px auto;
  background-color: transparent;
  box-shadow: none;
  padding: 10px;
  position: relative;
  height: 800px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactMeForm svg {
  position: absolute;
  transform: scale(2.5);
}

.contactMeForm svg path {
  stroke: var(--text-primary);
  fill: var(--text-primary);
}

.contactMeForm .perfil::before {
  content: none;
}

.contactMeForm .contactForm {
  width: 429px;
  height: 344px;
  z-index: 2;
  background: var(--text-primary);
}

.contactMeForm .contactForm form {
  width: 100%;
  height: 100%;
}

.contactMeForm .contactForm form .inputBox {
  position: relative;
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.contactMeForm .contactForm form .inputBox input,
.contactMeForm .contactForm form .inputBox textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--dark);
  outline: none;
  resize: none;
}

.contactMeForm .contactForm form .inputBox textarea {
  height: 150px;
}

.contactMeForm .contactForm form .inputBox span {
  position: absolute;
  left: 0%;
  top: 0;
  pointer-events: none;
  transition: .5s;
  color: var(--dark);
}

.contactMeForm .contactForm form .inputBox input:not(:placeholder-shown) ~ span {
  color: var(--color2);
  font-size: 14px;
  transform: translateY(-20px);
}

.contactMeForm .contactForm form .inputBox input:valid ~ span,
.contactMeForm .contactForm form .inputBox input:focus ~ span,
.contactMeForm .contactForm form .inputBox textarea:valid ~ span,
.contactMeForm .contactForm form .inputBox textarea:focus ~ span {
  color: var(--color5);
  font-size: 14px;
  transform: translateY(-20px);
}

.contactMeForm .contactForm form .inputBox input[type="submit"] {
  padding: 0.9em 2em;
  border-radius: 2em 2em 50% 50%;
  box-shadow: inset -3px -4px 4px -4px #333, 4px 1px 4px -4px #333;
  background-color: var(--color5);
  border: none;
  color: var(--text-primary);
  width: 138px;
  text-align: center;
}

.shaking {
  animation: 1s shaking_animation forwards;
}

.shaking input,
.shaking textarea {
  background-color: var(--color2);
}

/* .shaking span {
  color: var(--text-primary) !important;
} */

@keyframes shaking_animation {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
}
2% {
    transform: translate(-0.5px, 0.5px) rotate(-0.5deg);
}
4% {
    transform: translate(-1.5px, 2.5px) rotate(-0.5deg);
}
6% {
    transform: translate(1.5px, -0.5px) rotate(1.5deg);
}
8% {
    transform: translate(-0.5px, -1.5px) rotate(1.5deg);
}
10% {
    transform: translate(2.5px, 2.5px) rotate(0.5deg);
}
12% {
    transform: translate(2.5px, -0.5px) rotate(1.5deg);
}
14% {
    transform: translate(-1.5px, -1.5px) rotate(0.5deg);
}
16% {
    transform: translate(1.5px, 0.5px) rotate(-0.5deg);
}
18% {
    transform: translate(-1.5px, 0.5px) rotate(1.5deg);
}
20% {
    transform: translate(1.5px, 0.5px) rotate(-0.5deg);
}
22% {
    transform: translate(-1.5px, 2.5px) rotate(-0.5deg);
}
24% {
    transform: translate(-0.5px, 2.5px) rotate(0.5deg);
}
26% {
    transform: translate(-1.5px, 2.5px) rotate(0.5deg);
}
28% {
    transform: translate(1.5px, 0.5px) rotate(1.5deg);
}
30% {
    transform: translate(2.5px, 2.5px) rotate(0.5deg);
}
32% {
    transform: translate(-1.5px, -0.5px) rotate(1.5deg);
}
34% {
    transform: translate(2.5px, 2.5px) rotate(1.5deg);
}
36% {
    transform: translate(2.5px, 2.5px) rotate(0.5deg);
}
38% {
    transform: translate(0.5px, -1.5px) rotate(0.5deg);
}
40% {
    transform: translate(1.5px, -1.5px) rotate(0.5deg);
}
42% {
    transform: translate(1.5px, 0.5px) rotate(0.5deg);
}
44% {
    transform: translate(0.5px, 1.5px) rotate(1.5deg);
}
46% {
    transform: translate(1.5px, 0.5px) rotate(1.5deg);
}
48% {
    transform: translate(-0.5px, 1.5px) rotate(1.5deg);
}
50% {
    transform: translate(0.5px, 1.5px) rotate(1.5deg);
}
52% {
    transform: translate(2.5px, 2.5px) rotate(-0.5deg);
}
54% {
    transform: translate(0.5px, 0.5px) rotate(0.5deg);
}
56% {
    transform: translate(0.5px, -1.5px) rotate(0.5deg);
}
58% {
    transform: translate(2.5px, -0.5px) rotate(0.5deg);
}
60% {
    transform: translate(1.5px, -1.5px) rotate(0.5deg);
}
62% {
    transform: translate(1.5px, -1.5px) rotate(-0.5deg);
}
64% {
    transform: translate(-0.5px, -1.5px) rotate(0.5deg);
}
66% {
    transform: translate(2.5px, 2.5px) rotate(0.5deg);
}
68% {
    transform: translate(2.5px, 0.5px) rotate(1.5deg);
}
70% {
    transform: translate(2.5px, 2.5px) rotate(0.5deg);
}
72% {
    transform: translate(0.5px, 1.5px) rotate(-0.5deg);
}
74% {
    transform: translate(-0.5px, -1.5px) rotate(1.5deg);
}
76% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg);
}
78% {
    transform: translate(0.5px, 2.5px) rotate(1.5deg);
}
80% {
    transform: translate(-1.5px, -0.5px) rotate(0.5deg);
}
82% {
    transform: translate(1.5px, 1.5px) rotate(0.5deg);
}
84% {
    transform: translate(-0.5px, -0.5px) rotate(0.5deg);
}
86% {
    transform: translate(2.5px, 1.5px) rotate(0.5deg);
}
88% {
    transform: translate(0.5px, -0.5px) rotate(-0.5deg);
}
90% {
    transform: translate(-0.5px, -1.5px) rotate(0.5deg);
}
92% {
    transform: translate(0.5px, -0.5px) rotate(-0.5deg);
}
94% {
    transform: translate(1.5px, 0.5px) rotate(-0.5deg);
}
96% {
    transform: translate(1.5px, -0.5px) rotate(1.5deg);
}
98% {
    transform: translate(1.5px, 0.5px) rotate(1.5deg);
}
}

/*
  Media queries
*/
@media (min-width: 375px) {
  /* NAVBAR */
  .menu-nav ul a {
    font-size: 10px;
  }

  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  
}
@media (min-width: 425px) {
  .contactMeForm svg {
    transform: scale(1.9);
  }
}

@media (min-width: 768px) {
  /* NAVBAR */
  .menu-nav ul a {
    font-size: 11px;
  }

  .aboutme {
    grid-template-columns: 300px auto;
  }

  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(174px, 1fr));
  }

  .card-item-span {
    grid-column: span 4;
  }
  .contactMeForm svg {
    transform: scale(1.1);
  }
}
@media (min-width: 1024px) {
  .contactMeForm svg {
    transform: scale(1);
  }
}